//previene errores de overflow con el witdh, padding y margin
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #8000ff url("../assets/images/matrix.jpg");
  background-size: cover;
  color: white;
  font-family: "Poppins";
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section,
header {
  width: 70%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    padding: 2em;
  }

  a.logo {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0;
  }

  nav ul {
    display: flex;

    a {
      padding: 2.5em 1.5em;
      display: block;
    }

    li.active a {
      font-weight: bold;
      background: white;
      color: black;
      margin-left: 2em;
      padding: 2.5em;
    }
  }
}

h1 {
  font-size: 5rem;
  width: 40%;
  line-height: 5rem;
  margin-left: 2em;
  margin-top: 3.5em;
}

/* Overlay */
.overlay {
  position: fixed;
  height: 100vh;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 75% auto 6em;
}

.left,
.middle,
.right {
  height: 100vh;
}

h2 {
  color: blueviolet;
  font-size: 5rem;
  margin: 0;
}

.left {
  padding: 8em 10em;

  p.subhead {
    color: black;
    font-size: 1.5rem;
    margin-top: -0.5em;
  }
}

.cards {
  display: flex;
  margin-top: 5em;

  .card {
    padding: 2em;
    box-shadow: 15px 15px 53px rgba(128, 0, 255, 0.12);
    border-radius: 1em;

    strong {
      color: black;
    }

    p {
      color: #393241;
    }

    &:nth-of-type(2) {
      margin-left: 2em;
    }

    .cta {
      padding: 0.5em 1em;
      border-radius: 0.3em;
      text-decoration: none;
      margin-top: 1em;
      background: #8000ff;
      display: inline-block;
      color: white;
      font-weight: bold;
    }

    .pay-once {
      background: #ead5ff;
      color: #3f007e;
    }
  }
}

.middle {
  padding-top: 10em;

  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    padding: 0.4em 0;
    display: block;
  }

  .secondary a:hover {
    color: #8000ff;
  }
}
